*{
    background-color: rgb(144, 182, 233);
    font-family: sans-serif
   
}
h1 {
   
    color:rgb(255, 255, 255);
    font-weight:lighter;
    font-style: oblique;
    text-transform: uppercase;

}

h2 {
    color:rgb(98, 11, 148);
    font-weight: bold;
    
}

nav ul{
    list-style: none;
    padding-left: 2%;
}


nav ul li{
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
}

nav ul li a{
    margin-left: 1%;
    color: rgb(71, 2, 73);
    background-color: rgb(87, 133, 189);
}
